@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap");

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

:root {
  --fb-blue: #0a86f0;
  --fb-black: #090909;
  --fb-red: #ee2340;
  --fb-green: #3db557;
  --fb-yellow: #f6b024;
  --fb-bgcolor: #eef0f3;
  --fb-white: #ffffff;
  --fb-whitebg: #ffffff;
  --dark-color-text: #090909;
  --light-color-text: #606770;
  --button-link: #e0e2e8;
  --stories-bg: #090909;
  --icon-circle-bg: linear-gradient(
    0deg,
    rgba(65, 67, 69, 1) 0%,
    rgba(107, 110, 114, 1) 100%
  );
}

body {
  background: v ar(--fb-bgcolor);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fb-black);
  header {
    background: var(--fb-whitebg);
    height: 62px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    .logo-section {
      display: flex;
    }
    .logo-icon {
      .fa-facebook {
        font-size: 40px;
        color: var(--fb-blue);
      }
    }

    .logo-search {
      position: relative;
      margin-left: 10px;
      .fa-search {
        position: absolute;
        left: 10px;
        top: 12px;
        color: var(--light-color-text);
      }
      input[type="Text"] {
        background: var(--fb-bgcolor);
        border-radius: 25px;
        padding: 10px;
        font-size: 1.2rem;
        color: var(--light-color-text);
        padding-left: 35px;
        font-weight: 300;
        border: none;
      }
    }

    .menu-tabs {
      display: flex;
      max-width: 600px;
      width: 100%;
      flex: none;
      .menu-tab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 62px;
        border-bottom: 4px solid var(--fb-whitebg);
        color: var(--light-color-text);
        cursor: pointer;
        font-size: 1.3rem;
        &:active,
        &:hover {
          border-bottom: 4px solid var(--fb-blue);
          color: var(--fb-blue);
        }
        .fas,
        .fab {
          position: relative;
          &:hover,
          &:active {
            color: var(--fb-blue);
          }
          .notification-bubble {
            position: absolute;
            top: -12;
            right: -12;
            font-weight: 700;
            background: var(--fb-red);
            color: white;
            width: 20px;
            font-size: 0.8rem;
            display: flex;
            height: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
        }
      }
    }

    .account {
      display: flex;
      .actions {
        display: flex;
        justify-content: center;
        align-items: center;
        .user-img {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          margin: 35px;
        }
        .user-name {
          font-size: 0.9rem;
          font-weight: 600;
          margin-right: 20px;
        }
        .circle-link {
          background: var(--button-link);
          height: 40px;
          width: 40px;
          display: flex;
          border-radius: 50%;
          color: var(--dark-color-text);
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin-right: 10px;
          .link-icon {
            font-size: 0.9rem;
            position: relative;
            .notification {
              position: absolute;
              color: white;
              height: 22px;
              width: 22px;
              border-radius: 50%;
              background-color: var(--fb-red);
              display: flex;
              justify-content: center;
              align-items: center;
              top: -20;
              right: -22;
              font-size: 10px;
            }
          }
        }
        .fa-sort-down {
          position: relative;
          top: -3px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .content-area.feed {
    padding: 90px 15px 20px;
    display: flex;
    .sidenav {
      width: 25%;
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;

        .circle {
          background: var(--button-link);
          border-radius: 50%;
          font-size: 0.9rem;
        }

        .item-img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin-right: 20px;
        }
        .item-title {
          font-size: 1rem;
          font-weight: 400;
          .notification {
            color: var(--fb-blue);
            margin-top: 5px;
            font-size: 0.75rem;
            display: block;
            font-weight: 300;
            .notification-circle {
              background: var(--fb-blue);
              display: inline-block;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              margin-right: 5px;
            }
          }
        }
        .item-icon {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          margin-right: 20px;
          .fas,
          .fab {
            color: var(--fb-blue);
          }
        }
        .item-icon-circle-white {
          background: var(--icon-circle-bg);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          .fas,
          .fab {
            color: var(--fb-white);
            font-size: 18px;
          }
        }
      }

      .line {
        height: 3px;
        background: var(--button-link);
        margin-bottom: 15px;
        display: block;
      }

      .heading-title {
        display: block;
        color: var(--light-color-text);
        font-size: 1.1rem;
        margin-bottom: 15px;
      }
    }

    .feed {
      width: 50%;
      height: 200px;
      display: flex;
      align-items: center;
      flex-direction: column;

      .stories {
        display: flex;
        max-width: 700px;
        width: 100%;
        margin-bottom: 20px;
        .video-container {
          overflow: hidden;
          width: 120px;
          height: 200px;
          border-radius: 5px;
          background: var(--stories-bg);
          position: relative;
          box-shadow: 0px 2px 2px 0px var(--fb-black);
          margin-right: 10px;
          cursor: pointer;
          &:nth-last-child(1) {
            margin-right: 0px;
          }
          &:hover .bg {
            opacity: 0.8;
          }

          .bg {
            object-fit: cover;
            width: 125px;
            height: 200px;
            opacity: 0.2;
            transition: opacity 0.3s ease-in-out;
          }

          .title {
            position: absolute;
            bottom: 0;
            background: var(--fb-whitebg);
            width: 100%;
            color: var(--fb-black);
            padding: 20px 20px 10px;
            font-size: 1rem;
            text-align: center;
            line-height: 1.4;
            .new-btn {
              background: var(--fb-blue);
              width: 40px;
              height: 40px;
              color: var(--fb-white);
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              border: 4px solid var(--fb-white);
              position: absolute;
              top: -20px;
              left: 40px;
            }
          }
        }
        .plain .title {
          background: transparent;
          color: var(--fb-white);
        }
        .user {
          border: 4px solid var(--fb-blue);
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: absolute;
          top: -113px;
          left: 10px;
        }
      }

      .box {
        padding: 20px;
        background: var(--fb-white);
        max-width: 700px;
        width: 100%;
        flex: none;
        border-radius: 5px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
        .newpost {
          display: flex;
          margin-bottom: 10px;
          .user-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
          input[type="Text"] {
            background: var(--fb-bgcolor);
            padding: 10px;
            border: none;
            font-size: 1.2rem;
            border-radius: 25px;
            color: var(--light-color-text);
            padding-left: 20px;
            font-weight: 300;
            width: 100%;
          }
        }
        .hline {
          height: 1px;
          background: var(--button-link);
          margin-bottom: 15px;
          display: block;
        }
        .post-types {
          display: flex;
          justify-content: space-between;

          .item {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            margin-top: 10px;
            .fas,
            .far {
              margin: 10px;
              font-size: 1.5rem;
            }
            .fa-video {
              color: var(--fb-red);
            }
            .fa-photo-video {
              color: var(--fb-green);
            }
            .fa-laugh-beam {
              color: var(--fb-yellow);
            }
          }
        }
      }
      .photopost {
        padding: 0 0 20px;
        margin-bottom: 20px;
        .info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 20px 0;
          .left {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin: 10px 10px 10px 0;
            }
            .details {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .date {
                font-size: 0.7rem;
                color: var(--light-color-text);
              }
              .name {
                font-size: 0.9rem;
                margin-bottom: 5px;
                font-weight: 400;
              }
              .fa-ellipsis-h {
                color: var(--light-color-text);
              }
            }
          }
        }
        .description {
          padding: 0 20px;
          margin-bottom: 20px;
        }
        .image img {
          width: 100%;
          margin: 0;
        }
        .stats {
          height: 50px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px;
          color: var(--light-color-text);
          font-weight: 300;
          font-size: 0.9rem;
          .stats-emojis {
            display: flex;
            justify-content: center;
            align-items: center;
            .emoji-circle {
              display: flex;
              width: 22px;
              height: 22px;
              background: black;
              color: white;
              justify-content: center;
              align-items: center;
              font-size: 0.4rem;
              border-radius: 50%;
              border: 2px solid white;
              position: relative;
              &:nth-child(1) {
                z-index: 3;
              }
              &:nth-child(2) {
                left: -5px;
                z-index: 2;
              }
              &:nth-child(3) {
                left: -10px;
                z-index: 1;
              }
            }
            .blue {
              background: linear-gradient(
                0deg,
                rgba(4, 60, 108, 1) 0%,
                rgba(10, 134, 240, 1) 100%
              );
              .fa-thumbs-up {
                position: relative;
                top: -1px;
              }
            }
            .red {
              background: linear-gradient(
                0deg,
                rgba(92, 15, 26, 1) 0%,
                rgba(238, 35, 64, 1) 100%
              );
            }
            .yellow {
              background: #000000;
              overflow: hidden;
              .fa-surprise {
                position: relative;
                font-size: 1.35rem;
                color: rgba(246, 176, 36, 1);
                bottom: 0px;
              }
            }
          }
        }
        .actions {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          .link {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--light-color-text);
            width: 100%;
            text-decoration: none;
            .fas {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
